<div id="footer">
  <div class="content">
    <div class="left">
      <div class="row1">
        <h5>{{ t1 }}</h5>
        <div class="links">
          <a href="">Payment Methods</a>
          <a href="">About products</a>
          <a href="">Articles</a>
        </div>
      </div>
      <div class="row2">
        <h5>{{ t2 }}</h5>
        <div class="links">
          <a href="">Get on touch</a>
          <a href="">Contact Us</a>
        </div>
      </div>
      <div class="row3">
        <h5>{{ t3 }}</h5>
        <div class="links">
          <a href="">Retuns & Exchanges</a>
          <a href="">About us</a>
          <a href="">Customer Support ?</a>
        </div>
      </div>
    </div>
    <div class="right"></div>
  </div>
</div>
