<div id="main">
  <div class="navbar">
    <div class="navfull">
      <h2>like Q Fashion</h2>
      <div class="search-bar">
        <div class="input-group">
          <input
            type="search"
            placeholder="Search for Products"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button type="button" class="btn btn-outline" data-mdb-ripple-init>
            <i class="ri-search-line"></i>
          </button>
        </div>
      </div>

      <div class="nav-attributes">
        <div class="attributes">
          <i class="ri-home-line"></i>
          <a href="">Home</a>
        </div>
        <div class="attributes">
          <i class="ri-product-hunt-line"></i>
          <a href="">Products</a>
        </div>
        <div class="attributes">
          <i class="ri-shopping-cart-line"></i>
          <a href="">Cart</a>
        </div>
        <div class="attributes">
          <i class="ri-account-circle-line"></i>
          <a href="">Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
