<div id="allcards">
  <div class="header">
    <div class="head">
      <h3>{{ womencardheader }}</h3>
      <button>View All</button>
    </div>
    <div class="line"></div>
  </div>
  <div class="cards">
    <div class="crd">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fwomen%20folder%2Fcombo%20women%201.jpg?alt=media&token=e29d2ed4-a91c-4bf4-a266-5abd0d65f5e1"
        alt=""
      />
      <div class="product-details">
        <h5>{{ wcard1 }}</h5>
        <h6>{{ wcardsub }}</h6>
        <div class="price">
          <p>{{ price1 }}</p>
          <p>(19% off)</p>
        </div>
      </div>
    </div>

    <div class="crd">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fwomen%20folder%2Fcombo%20women%203.jpg?alt=media&token=cc7585f9-cfdb-44dc-a610-9284eb7edcf2"
        alt=""
      />
      <div class="product-details">
        <h5>{{ wcard2 }}</h5>
        <h6>{{ wcardsub1 }}</h6>
        <div class="price">
          <p>{{ p2 }}</p>
          <p>(5% off)</p>
        </div>
      </div>
    </div>
    <div class="crd">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fwomen%20folder%2Fcombo%20women%202.jpg?alt=media&token=120c88c9-6ff5-4f53-bef1-d68f06cfad48"
        alt=""
      />
      <div class="product-details">
        <h5>{{ wcard3 }}</h5>
        <h6>{{ wcardsub2 }}</h6>
        <div class="price">
          <p>{{ p3 }}</p>
          <p>(25% off)</p>
        </div>
      </div>
    </div>
    <div class="crd">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fwomen%20folder%2Fwomen%20hoodie%204.jpg?alt=media&token=e6b55ad0-3115-4ec2-a737-5d82ab36e7a4"
        alt=""
      />
      <div class="product-details">
        <h5>{{ wcard4 }}</h5>
        <h6>{{ wcardsub3 }}</h6>
        <div class="price">
          <p>{{ p4 }}</p>
          <p>(45% off)</p>
        </div>
      </div>
    </div>
    <div class="crd">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fwomen%20folder%2Fwomen%20fw%202.jpg?alt=media&token=4dec0963-a14e-4841-bd09-80c89e332453"
        alt=""
      />
      <div class="product-details">
        <h5>{{ wcard5 }}</h5>
        <h6>{{ wcardsub4 }}</h6>
        <div class="price">
          <p>{{ p5 }}</p>
          <p>(28% off)</p>
        </div>
      </div>
    </div>
    <div class="crd">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fwomen%20folder%2Fbags%203.jpg?alt=media&token=6433d5e6-a08c-4e53-b96a-1307c38ef436"
        alt=""
      />
      <div class="product-details">
        <h5>{{ wcard6 }}</h5>
        <h6>{{ wcardsub5 }}</h6>
        <div class="price">
          <p>{{ p6 }}</p>
          <p>(15% off)</p>
        </div>
      </div>
    </div>
  </div>
</div>
