<div id="prefooter">
  <div class="title">
    <h6>Be the first to know about sales and new products!</h6>
  </div>

  <div class="content">
    <div class="signin">
      <form action="" method="post">
        <input type="email" placeholder="Enter Email" />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  <div class="contact-icons">
    <a href="">
      <i class="ri-facebook-fill"></i>
    </a>
    <a href="">
      <i class="ri-linkedin-fill"></i>
    </a>
    <a href="">
      <i class="ri-twitter-fill"></i>
    </a>
    <a href="">
      <i class="ri-youtube-fill"></i>
    </a>
  </div>
</div>
