<div id="sponsors">
  <div class="icon-title">
    <i class="ri-information-fill"></i>
    <h6>Sponsored</h6>
  </div>
  <div class="title">
    <h3>Our Best Collection</h3>
  </div>
  <div class="content">
    <div class="image">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fside%20banners%2Fmens%20banner%202.jpg?alt=media&token=816d769c-e07b-4f9a-b63d-621ddec75781"
        alt=""
      />
    </div>
    <div class="text">
      <h3>
        Nike
        <span
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fside%20banners%2Fnike.png?alt=media&token=f864c22f-fb72-473e-83d0-fa33db9254ea"
            alt=""
        /></span>
      </h3>
      <p>Explore all the Branded Collections from NIKE</p>
      <div class="quote">
        <div class="q1">
          <h6>
            "Nike doesn't want to make products for everyone - they want to make
            products for champions."
          </h6>
        </div>
        <h5>-Simon Sinek</h5>
      </div>

      <div class="button">
        <button class="click">Go to Collections</button>
      </div>
    </div>
  </div>
</div>
