#subnav {
    background-color: #563E26;
    margin-top: 1vw;
    align-items: center;
    width: 94%;
    margin-left: 3vw;
    display: flex;
    height: 3vw;
}

/* 
#subnav .clothing select {
    height: 2vw;
    width: 10vw;
    background-color: transparent;
    color: #000;
    border: none;
} */
/* 
#subnav .clothing select option {
    background-color: green;
} */


.dropdowns {
    align-items: center;
    display: flex;
    padding: 0vw 1vw;
    gap: 1vw;
}

.dropdown a {
    color: #fff;
    border: none;
    font-family: 'Source Sans Pro';

}

.dropdown a {
    color: #ffff;
    font-size: 1vw;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

}


.dropdown-menu a {
    color: #37490e;
    font-family: Arial, Helvetica, sans-serif;

}

.items .subnav-attributes {
    display: flex;
    padding: .2vw 2vw;
    gap: 2vw;

}

.subnav-attributes .attributes a {
    text-decoration: none;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}