<div id="subnav">
  <div class="items">
    <div class="dropdowns">
      <div class="dropdown">
        <a
          class="btn dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Men
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Top Wear</a></li>
          <li><a class="dropdown-item" href="#">Bottom Wear</a></li>
          <li><a class="dropdown-item" href="#">Footwear</a></li>
          <li><a class="dropdown-item" href="#">Bags</a></li>
          <li><a class="dropdown-item" href="#">Sun Glasses</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a
          class="btn dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Women
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Top Wear</a></li>
          <li><a class="dropdown-item" href="#">Bottom Wear</a></li>
          <li><a class="dropdown-item" href="#">Footwear</a></li>
          <li><a class="dropdown-item" href="#">Bags</a></li>
          <li><a class="dropdown-item" href="#">Sun Glasses</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a
          class="btn dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Living
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Top Wear</a></li>
          <li><a class="dropdown-item" href="#">Bottom Wear</a></li>
          <li><a class="dropdown-item" href="#">Footwear</a></li>
          <li><a class="dropdown-item" href="#">Bags</a></li>
          <li><a class="dropdown-item" href="#">Sun Glasses</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <a
          class="btn dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Tour Needs
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Top Wear</a></li>
          <li><a class="dropdown-item" href="#">Bottom Wear</a></li>
          <li><a class="dropdown-item" href="#">Footwear</a></li>
          <li><a class="dropdown-item" href="#">Bags</a></li>
          <li><a class="dropdown-item" href="#">Sun Glasses</a></li>
        </ul>
      </div>

      <div class="subnav-attributes">
        <div class="attributes">
          <a href="">Help</a>
        </div>
        <div class="attributes">
          <a href="">About us</a>
        </div>
        <div class="attributes">
          <a href="">Customer Support</a>
        </div>
      </div>
    </div>

    <!-- <select name="clothing" id="">
      <option value="shirts">shirts</option>
      <option value="shirts">Jeans</option>
      <option value="shirts">Inner Wear</option>
      <option value="shirts">Caps</option>
      <option value="shirts">Sun Glasses</option>
    </select> -->
  </div>
</div>
