<div id="sponsors">
  <div class="content">
    <div class="image">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fside%20banners%2Fwomen%20banner.jpg?alt=media&token=25a5c452-cab9-45c7-93ec-18cb65772662"
        alt=""
      />
    </div>
    <div class="text">
      <h3>
        American Eagle
        <span
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fside%20banners%2Famerican-eagle%20(1).png?alt=media&token=f2b47388-38a1-4c47-930b-d80e83e984cc"
            alt=""
        /></span>
      </h3>
      <p>Best Luxary brand in Shopping</p>
      <div class="quote">
        <div class="q1">
          <h6>
            "Checkout the popular and best luxary clothing brand in fashion"
          </h6>
        </div>
      </div>

      <div class="button">
        <button class="click">Go to Collections</button>
      </div>
    </div>
  </div>
</div>
