<div id="sponsors">
  <div class="content">
    <div class="text">
      <h3>Raymond</h3>
      <p>Best wearing brand for Formal wear</p>
      <h6>
        "Everybody Loves Raymond earned a lot of nominations and awards, winning
        a total of 15 Primetime Emmys"
      </h6>
    </div>
    <div class="image">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fside%20banners%2Fcouple%201.jpeg?alt=media&token=cef0bee9-85e9-40e6-b6fb-3aff5382ef12"
        alt=""
      />
    </div>
  </div>
</div>
