<div class="content-banner">
  <div class="banner">
    <div
      id="carouselExampleAutoplaying"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Ecommerce%2FBanner%2Fbanner%204.png?alt=media&token=75aa10c4-f4ee-42a9-9e1c-2e2bf1d0281d"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Ecommerce%2FBanner%2FBanner%202.jpg?alt=media&token=c02e6723-e71f-440e-9b54-5941498b596f"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Ecommerce%2FBanner%2Fbanner%205.jpg?alt=media&token=b60a80a0-196c-467d-800d-47616d758c75"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/naniportfolio-cadd2.appspot.com/o/Ecommerce%2FBanner%2FBanner%201.jpg?alt=media&token=17280073-8ffa-48d7-9138-019bbc42b105"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
