<div id="sidebanner">
  <h3>Explore</h3>

  <div class="slides">
    <div class="left">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fside%20banners%2Fsub%20banner.jpg?alt=media&token=6f015b80-69c3-4db7-bef7-1467a21e2b33"
        alt=""
      />
      <div class="title">
        <div class="subtitle">
          <h5>View All Categories for Women</h5>
          <h6>Get Upto 70% off</h6>
        </div>
        <button>Shop Now</button>
      </div>
    </div>
    <div class="right">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/ecommerce-8c31c.appspot.com/o/Ecommerce%20cards%2Fside%20banners%2Fside%20banner%203.jpg?alt=media&token=9ac4f213-e440-4c43-b59d-ae604330472e"
        alt=""
      />
      <div class="title">
        <div class="subtitle">
          <h5>Explore all Men's Wardrobe</h5>
          <h6>Get Upto 55% off</h6>
        </div>
        <button>Shop Now</button>
      </div>
    </div>
  </div>
</div>
