<div id="main">
  <div class="prepage">
    <div class="bg">
      <svg
        width="900"
        height="380"
        viewBox="0 0 263 235"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M242 68.5C242 97.4949 218.495 121 189.5 121C160.505 121 137 97.4949 137 68.5C137 39.5051 160.505 16 189.5 16C218.495 16 242 39.5051 242 68.5Z"
          fill="#E8DDC1"
        />
        <circle cx="79.5" cy="121.5" r="37.5" fill="#E8DDC1" />
        <circle cx="158.5" cy="183.5" r="21.5" fill="#E8DDC1" />
      </svg>
    </div>

    <div class="context">
      <div class="left">
        <div class="logo">
          <h2>like q tour</h2>
        </div>
        <div class="content-left">
          <div class="head">
            <h3>Welcome to <span>Like Q Tour</span></h3>
            <h5>Create your account</h5>
          </div>
          <div class="inputs">
            <input type="text" placeholder="Full Name" name="fname" />
            <input type="email" placeholder="Email" name="email" />
            <input type="password" placeholder="Password" name="password" />
            <button>Create My Account</button>
          </div>
        </div>
      </div>

      <div class="between">
        <button class="btn">Or</button>
      </div>
      <div class="right">
        <div class="rhead">
          <h3>Login to your <span>Account</span></h3>
        </div>
        <div class="r-inputs">
          <input type="email" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <button>Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
